.admintitle
{
background-color:#530602;
color:#fff;
margin-right:50px;
margin-left:50px;
height:100px;


}

.dashboard
{
background-color:#1DEFEF;
color:#000;
margin-right:50px;
margin-left:50px;
height:140px;
font-size:25px;




}